# 环境变量文件
.env

# 数据库文件
data/*.db

# 前端构建文件
frontend/dist/

# npm锁文件
frontend/package-lock.json
package-lock.json

# node_modules目录
node_modules/
frontend/node_modules/

# 日志文件
logs/

# Python编译缓存
__pycache__/
*.py[cod]
*$py.class

# 操作系统文件
.DS_Store
Thumbs.db

